.Board {
  width: 95%;

  @media screen and (min-width: 800px) {
    width: 60%;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  &__Inner {
    flex-grow: 1;
    display: grid;
    grid-gap: 1rem;
    padding: 5px;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(4, 1fr);
  }

  &__CardButton {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: none;
    outline: none;
    position: relative;

    &--enter {
      opacity: 0.01;
      transform: scale(0.9) translateY(20%);
    }

    &--enter-active {
      opacity: 1;
      transform: scale(1) translateY(0%);
      transition: all 200ms ease-out;
    }

    &--exit {
      display: none;
    }
  }
}
